.search-form > input {
    border: none;
    height: 25px;
    padding-left: .3em;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
    font-family: 'Poppins', sans-serif;
}

.search-form > button {
    border: none;
    height: 25px;
    padding: 0 .8em;
    border-top-right-radius: .4em;
    border-bottom-right-radius: .4em;
    background-color: var(--alive);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

/* !
/* HACER QUE EL BOTON SE PONGA ROJO CUANDO HAY ERROR */

.isEmpty-msg {
    color: var(--white);
}