.location-name {
    margin: 1em 0;
    color: var(--alive);
}

.location-info ul {
    display: flex;
    justify-content: space-evenly;

}

.location-info ul li {
    text-align: center;
    width: 100%;
}

li h6 {
    color: var(--white);
    margin: 1em 0;
}

li p {
    color: var(--gray);
    margin-bottom: 1em;
}