.ram-app {
    margin: 0 auto;
    display: grid;
    gap: 1em;
}

.head {
    width: 100%;
    height: 150px;
    background-image: url('/public/portada_Rick_y_Morty.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.location-container {
    background-color: var(--dark-green);
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}


.residents-container {
	width: 90%;
    max-width: 1100px;
    justify-content: center;
    margin: 1em auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, 300px);
    gap: 1.5em;
}