.ram-app {
    max-width: 1024px;
    margin: 0 auto;
    display: block;
    gap: 1em;
    justify-content: center;
}

.head {
    height: 150px;
    background-image: url('/public/portada_Rick_y_Morty.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.location-container {
    background-color: var(--dark-green);
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: .6em;
    text-align: center;
    box-shadow: 0 1px 5px 1px #0008;
    border-radius: .5em;
}


.residents-container {
    margin: 2em auto;
    width: 95%;
    display: grid;
    justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 1.5em;
}
