@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
    --main-green: #05292E;
    --dark-green: #062226;
    --white: #f8f8f8;
    --black: #0a0a0a;
    --gray: #58785f;
    --alive: #55ca65;
    --dead: #c52020;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .5px;
    line-height: 1.5em;
}

#root {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-green);
    min-height: 100vh;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
